
html,body
{
    max-width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    right: 0;
    left: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    overflow-x:hidden;
    /*position fixed pode dar problemas*/
    position: fixed;
    
    /* Allow Smooth Scroll */
    /*overflow-y: scroll; *//* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}


.intro {
	position: fixed;
	z-index: 10;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: white;
    left: 0;
}

/* Section hidden */
.container--close {
	display: none;
}

/* Intro content */
.intro__subtitle {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	color: slategrey;
}

/* Landing Page */
.logo-svg {
    margin-top: 8px;
	margin-bottom: 8px;
    position: fixed;
    top: 4vh;
    left: 7vw;
    width: 256px;
    cursor: default;
}

.logo-ISTAlameda{
    fill: white;
    color: white;
}

.container--open .logo-svg:hover{
    cursor: pointer;
}

@media screen and (max-width: 615px) {
    .logo-svg{
        width: 180px;
        left: 5vw;
    }
}

@media screen and (max-width: 320px) {
    .logo-svg{
        width: 150px;
        left: 5vw;
    }
}

.video-background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video-background > video {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

@media(min-aspect-ratio: 16/9) {
    .video-background > video{
        height: 300%;
        top: -100%;
    }
}

@media(max-aspect-ratio: 16/9){
    .video-background > video{
        width: 300%;
        left: -100%;
    }
}

@supports(object-fit: cover){
    .video-background > video{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
  .video-background {
    background: url('https://scontent.flis2-1.fna.fbcdn.net/v/t31.0-8/18278263_656796467840718_2337298823345642103_o.jpg?oh=80bf60907a15c1f1c23fcf2354e62578&oe=5ABB96C8') center center / cover no-repeat;
		transition: background-image 1s ease-in-out;
	}

  .video-background video {
    display: none;
  }

}

/* End of Landing Page */

/* Main Navigation Bar*/

.animated_content{
    position: absolute;
    /*top: 100vh;*/
    width:84vw;
    left: 8vw;
    right: 8vw;
    z-index: 10;
}

.navbar{
    position: absolute !important;
	align-items: center;
    width: 100%;
	float: none;
	background-color: rgba(0,0,0,0.54);
    -webkit-backdrop-filter: blur(10px);
	color: white;
    border: 0px !important;
    text-transform: uppercase;
    cursor: pointer;
    padding-left: 2vw;
    padding-right: 4vw !important;
}

.navbar a{
    margin: 0;
    text-align: center;
    color: white;
    flex-grow: 1;
    flex-basis: auto;
    cursor: pointer;
}

.navbar a.active {
    background-color: snow;
    color: #ff2200;
}


.navbar a.navbar-brand svg {
    fill: white;
}

/*desktop nav bar configuration*/
.long-nav{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
	display: flex;
    justify-content:space-between;
}

.long-nav .nav_sections {
    width: 70%;
    display: flex;
}

.long-nav .nav_icons {
    width: 26%;
    display: flex;
}

.navbar .long-nav a.navbar-brand{
    padding: 15px 1vw 0px 1vw !important;
}

.navbar .long-nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ff2200;
}

.navbar .long-nav a.active:hover {
    background: snow;
    color: #ff2200;
}

.navbar .long-nav a.navbar-brand:hover > svg {
    fill: #ff2200;
}

/*mobile navbar configuration*/
.short-nav {
    display: none;
    justify-content:space-between;
}

.short-nav.nav_sections{
    width: 60%;
}

.short-nav.nav_icons{
    width: 40%;
}

.short-nav .nav_sections .navbar-brand{
    padding-left: 0;
    padding-right: 12vw;
}

.navbar .short-nav a.navbar-brand{
    padding: 15px 2vw 0px 2vw;
}

.navbar .short-nav a.mobile_section_title {
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
}

.navbar .short-nav .nav_sections a:hover {
    color: white;
    cursor: default;
}

/* Hamburguer Icon */
#hamb-icon{
    width: 20px;
    height: 20px;
    margin: 0 !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamb-icon span{
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

hamb-icon span:active{
    background: #ff2200;
}

#hamb-icon span:nth-child(1) {
  top: 0px;
}

#hamb-icon span:nth-child(2),#hamb-icon span:nth-child(3) {
  top: 6px;
}

#hamb-icon span:nth-child(4) {
  top: 12px;
}

#hamb-icon.open span:nth-child(1) {
  top: 6px;
  width: 0%;
  left: 50%;
}

#hamb-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamb-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamb-icon.open span:nth-child(4) {
  top: 6px;
  width: 0%;
  left: 50%;
}
/* Hamburguer Icon */

/* End of Main Navigation Bar */

/* Mobile Overlay Navigation */
/* an overlay div covering the whole screen*/
.mobile_nav_overlay{
    position: fixed;
    z-index: -1;
    width: 100vw;
    left: 0;
    right: 0;

    background-color: rgba(0,0,0,0.54);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    border: 0px !important;
    text-transform: uppercase;
    cursor: pointer;

    opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.mobile_nav_overlay.visible{
    opacity: 1;
    z-index: 14;
}

/*the navigation itself*/
.mobile_nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.mobile_nav a{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    float: left;

    margin: 0;
    text-align: center;
    color: white;
    cursor: pointer;
}

.mobile_nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ff2200;
    text-decoration: none;
}
/* End of Mobile Navigation */


/* Secondary Navigation */
.sub_section a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
    padding: 10px 0;
	outline: none;
	color: #636363;
	text-decoration: none !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
	text-shadow: none;
    cursor: pointer;
}

.sub_section a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #ff2200;
	color: #ff2200;
	content: attr(data-hover);
    white-space: nowrap;
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.sub_section a:hover,
.sub_section a:focus {
	outline: none !important;
}

.sub_section a.sub_section_selected::before,
.sub_section a:hover::before,
.sub_section a:focus::before {
	max-width: 100%;
}

.content {
	bottom: 0!important;
	text-align: center;
    top: 50px;
	margin: 2px auto 0 auto;
	opacity: 0;
	transition: opacity 0.5s ease-in-out 0.1s;
	-moz-transition: opacity 0.5s ease-in-out 0.1s;
	-webkit-transition: opacity 0.5s ease-in-out 0.1s;
	z-index: -1;
    display:none;
}

.content_selected {
	opacity: 1;
	z-index: 1;
	/*overflow-y: hidden;*/
    display: block;
}
/* End of Secondary Navigation */

/* Partners Styles */
#partner_h{
	text-align:left;
	margin-top:80px;
	margin-bottom:60px
}

#gold_sponsor{
	color: rgba(244,218,74,1);
}

#silver_sponsor{
	color: rgba(194,194,194,1);
}

#bronze_sponsor{
	color: rgba(140,58,13,1);
}


#partner_h1:after{
    background: rgba(244,218,74,1);
    content: '';
    display: inline-block;
    height: 0.2em;
    width: 100%;
}


#partner_h2:after{
    background: rgba(194,194,194,1);
    content: '';
    display: inline-block;
    height: 0.2em;
    width: 100%;
}

#partner_h3:after{
    background: rgba(140,58,13,1);
    content: '';
    display: inline-block;
    height: 0.2em;
    width: 100%;
}

header.major{
	margin-top: 5%;
	text-align: left;
}


#bookmark{
	height: 70%;
margin-top:30%;
margin-left: 10%}

.bootCols{
	height:100px;
	padding: 0 !important;
	margin: 0 !important;
	box-sizing:border-box;
	height:250px;
}

#og-grid-3{
    padding: 45px;
}

.row{
    width:100%;
    padding-left:30px;
}

#speaker_cont{
    margin-right:60%;
    padding:10px;
}

#cont{
    width:100%;
}
/* End of Partners styles */

/* Footer */

.page_footer {
	margin-top: 50px;
}

.footer_logos {
	text-align: center;
	height:30px;
}

.footer_logos a {
	display: inline;
	float: none;
	width:50px;
	margin: auto;
	padding: 15 0 15 15;
}

.footer_logos a.navbar-brand {
	display: inline;
	float: none;
	width:50px;
	margin: auto;
	padding: 15px 15px 0 15px;
}

/* End of Footer */

/* Trigger button with SVG */
.trigger {
	position: relative;
	-webkit-flex: none;
	flex: none;
	overflow: hidden;
	margin: 0 0 0 20px;
	padding: 0;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	background: none;
    top: 10vh;
}

/* Hide the text */
.trigger span {
	position: absolute;
	top: 100%;
}

.icon rect,
.icon line {
	stroke: black;
	fill: none;
	stroke-width: 2px;
}

.icon {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

/* Hide grid and show cross when opening */
.icon--cross,
.trigger--active .icon--grid {
	opacity: 0;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
}

.trigger--active .icon--cross {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.og-grid {
    position: absolute;
	list-style: none;
	padding-bottom: 40px;
    padding-top: 40px;
	padding-right: 40px;
	text-align: center;
    width: 100%;
    background-color: snow;
    z-index: 12;
}


.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a{
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 96%;
	margin-top: 10px;
    margin-left: 2%;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
}

.overlay {
  background: repeating-linear-gradient(0deg, rgba(0, 0, 255, 0.3), transparent);
  background-size: 100% 5px;
}

.about {
    text-align: justify;
    text-justify: inter-word;
    padding: 0 5vw;
}

.about button {
    background: none;
    border: none;
}

.about_EN {
    display: none;
}

.button_selected {
    color: red;
    border-bottom: 2px solid red;
}

.about h2 {
    color: red;
    text-align: center;
}

#bg {
    height: 100vh;
    cursor: default;
}

.container--open #bg:hover{
    cursor: pointer;
}

.list_title {
    font-size: 85px;
    line-height: 1em;
	letter-spacing: 0px!important;
	font-weight: 100;
    color: #000;
    text-align: left;
    order: 1;
    margin: auto;
}

.list_subtitle {
    font-size: 22px;
    line-height: 1em;
	font-weight: 200;
    color: #000;
    text-align: left;
    order: 2;
    margin: auto;
}

.edition {
	width: 100%;
	height: auto;
	margin-top: 40px;
	overflow: hidden;
}

.section_title {
    /*position: absolute;*/
	text-align: center;
	width: 100%;
	margin: 0;
	z-index: 0;
}

.year {
	font-size: 125px;
	font-weight: 600;
	color: #ff2100;
	display: block;
	margin-bottom: -16px;
	margin-top: 0px;
}


.theme {
	font-size: 27px;
	font-weight: 600;
	color: #292929;
}

.theme:after {
	content: '';
    display: block;
	margin-left: auto;
	margin-right: auto;
    margin-top: 6px;
    width: 300px;
    height: 3px;
    background: #292929;
}

.theme:before{
	content: '';
    display: block;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 6px;
    width: 300px;
    height: 3px;
    background: #292929;
}

.item_section {
	width: 90%;
	height: 280px!important;
    margin: auto;
    margin-top: 10vh;
	overflow: hidden;
}

.section__col {
    position: relative;
    width: 50%;
	height: 254px;
    margin: 0;
	padding:0px;
	float:left;
	background-color: snow;
	overflow: hidden;
	border: 2px #292929 solid;
    text-align: left;
}

.talkcontainer {
    height:100%;
	width:100%;
	overflow:hidden;
	cursor:pointer;
	background: #292929;
}

.imgtalk{
	width: 100%;
	height: 360px;
	background-color: #e0e0e0;
	transform: translate(0,-13.9%);
	clip: inset(13.9% 0 13.9% 0);
}

.videotalk{
	width: 100%;
	height: 100%;
	margin-top: -1px;
}

.hoverlay {
  width: 100%;
  height: 100%;
  position:absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background: url("../images/ui/youtube1.svg") center / 50px 50px no-repeat;
}

.section__col:hover .hoverlay {
  background: url("../images/ui/youtube2.svg") center / 50px 50px no-repeat;
}

.main-header {
	color: #292929;
    display: block;
	font-size: 29px;
	line-height: 30px;
	font-weight: 700;
	margin: 10px 0 0 0;
}

.main-header:before {
    content: '';
    position: absolute;
    top: 30px;
    width: 60px;
    height: 5px;
    background: #ff2100;
}

.speaker{
	color:#ff2100; 
	font-size: 24px;
	margin: 5px 0 10px 0;
}

.speaker > a {
	color: #ff2100!important;
	cursor: pointer;
}

.excerpt {
    color: #292929;
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
    margin: 15px 0 15px 0;
}

.list_header {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: center;
}

.list_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
	z-index: 5;
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.flex_container {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 40px;
}

@media all and (min-width: 1171px) {
	.section__col:first-child {
		border-right: 0;
    }
    .section__col:last-child {
		border-left: 0;
        padding: 30px 20px 30px 40px;
    } 
}
@media all and (max-width: 1170px) {
	.edition{
		width: 460px;
		height: 200px!important;
	}
	.year {
		margin-top: 20px;
		font-size: 90px;
		margin-bottom: -6px;
	}
	.year:after {
		top: 125px;
		width: 250px;
	}
	.theme {
		font-size: 18px;
	}
	.theme:after {
		top: 181px;
		width: 250px;
	}
    .theme:before {
		top: 181px;
		width: 250px;
	}
	.item_section {
		width: 455px;
		height: 500px!important;
	}
	.section__col:first-child {
        width: 453px;
		height: 260px;
		border-right: 2px #292929 solid;
		border-bottom: 0;
    }
    .section__col:last-child {
        width: 453px;
		height: 238px;
		border-top: 0;
		border-left: 2px #292929 solid;
		padding: 30px 20px 0 20px;
    }
	.main-header {
		font-size: 25px;
	}
	.main-header:before {
    	top: 20px;
    	left: 20px;
	}
	.speaker{
		margin: 10px 0 10px 0;
		font-size: 22px;
	}
	.excerpt{
		font-size: 14px;
	}
}
@media all and (max-width: 600px) {
	.edition {
		width: 300px;
		height: 160px!important;
	}
	.year {
		margin-top: 0px;
		font-size: 70px;
	}
	.year:after {
		top: 82px;
		width: 200px;
	}
	.theme {
		font-size: 17px;
	}
	.item_section {
		width: 298px;
		height: 368px!important;
	}
	.section__col:first-child {
        width: 296px;
		height: 170px;
    }
    .section__col:last-child {
        width: 296px;
		height: 196px;
		padding: 20px;
		border-top: 0;
		border-left: 2px #292929 solid;
    }
	.imgtalk{
		width: 300px;
		height: 236px;

	}
	.main-header {
		font-size: 17px;
		line-height: 22px;
	}
	.main-header:before{
		top:20px;
		left:20px;
		height: 4px;
	}
	.speaker{
		margin: 5px 0 10px 0;
		font-size: 17px;
	}
	.excerpt{
		margin-top: 10px;
		font-size: 11px;
		line-height: 18px;
	}
}