
html,body
{
    max-width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    overflow-x:hidden;
    overflow-y: hidden;
}

.intro {
	position: fixed;
	z-index: 10;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: white;
    left: 0;
}

/* Fullscreen image */
.intro__image {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	min-height: 120%;
	width: auto;
	height: auto;
	opacity: 0.8;
}

/* Section hidden */
.container--close {
	display: none;
}

/* Intro content */
.intro__content {
	position: absolute;
	bottom: 0;
	padding: 1.8em;
	width: 100%;
	font-size: 1.15em;
}

.intro__title {
	margin: 0 0 20px;
	font-weight: 900;
	font-size: 4em;
	font-family: "Playfair Display", Georgia, serif;
	line-height: 1;
	color: black;
}

.intro__subtitle {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	color: slategrey;
}

.intro__description {
	margin: 0 auto 0 1em;
	line-height: 1.2;
}

/* Landing Page */
.logo-svg {
    margin-top: 8px;
	margin-bottom: 8px;
    position: fixed;
    top: 4vh; 
    left: 7vw;
    width: 256px;
    cursor: default;
}

.container--open .logo-svg:hover{
    cursor: pointer;
}

.video-background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.container--open .video-background:hover{
    cursor: pointer;
}

.video-background > video {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

@media(min-aspect-ratio: 16/9) {
    .video-background > video{
        height: 300%;
        top: -100%;
    }
}

@media(max-aspect-ratio: 16/9){
    .video-background > video{
        width: 300%;
        left: -100%;
    }
}

@supports(object-fit: cover){
    .video-background > video{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 615px) {
    .nav_logo-svg{
        width: 156px;
    }
}

@media (max-width: 480px) {
  .video-background {
    background: url('https://scontent.flis2-1.fna.fbcdn.net/v/t31.0-8/18278263_656796467840718_2337298823345642103_o.jpg?oh=80bf60907a15c1f1c23fcf2354e62578&oe=5ABB96C8') center center / cover no-repeat;
		transition: background-image 1s ease-in-out;
	}

  .video-background video {
    display: none;
  }
}

/* Landing Page */

/* Main Navigation */

/*ao fazermos a translação com uma medida em vh, o efeito funciona se após o conteúdo ser aberto não se fizer scroll,
caso se faça scroll, para a navbar voltar a estar fixed bottom a navbar dá um salto do ponto até onde foi feito scroll para x=60vh */
/* tentei resolver o problema animando margin bottom com valor dafault 0, em vez da translação, foi igual */

.animated_content{
    position: absolute;
    /*top: 100vh;*/
    width:84vw;
    left: 8vw;
    right: 8vw;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);


   /* -webkit-transition: -webkit-transform  0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out; */
}

.container--open .animated_content{
   /* -webkit-transform: translate3d(0, -60vh, 0);
	transform: translate3d(0, -60vh, 0); */
}

.navbar{
    position: absolute !important;
	align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
	display: flex;
    justify-content:space-between;
    width: 100%;
	float: none;
	background-color: rgba(0,0,0,0.54);
    -webkit-backdrop-filter: blur(10px);
	color: white;
    border: 0px !important;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar a{
    margin: 0;
    text-align: center;
    color: white;
    flex-grow: 1;
    flex-basis: auto;
    cursor: pointer;
} 


.navbar a.active {
    background-color: snow;
    color: #ff2200;
}

.navbar a.active:hover {
    background-color: snow;
    color: #ff2200;
    fill: #ff2200
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ff2200;
}

.navbar a.navbar-brand svg {
    fill: white;
}

.navbar a.navbar-brand:hover > svg {
    fill: #ff2200;
}

.nav_icons {
    width: 30%;
    display: flex;

}
.nav_sections {
    width: 70%;
    display: flex;
}
/* End of Main Navigation */

/* Secondary Navigation */
.sub_section a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
    padding: 10px 0;
	outline: none;
	color: #636363;
	text-decoration: none !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
	text-shadow: none;
    cursor: pointer;
}

.sub_section a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #ff2200;
	color: #ff2200;
	content: attr(data-hover);
    white-space: nowrap;
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.sub_section a:hover,
.sub_section a:focus {
	outline: none !important;
}

.sub_section a.sub_section_selected::before,
.sub_section a:hover::before,
.sub_section a:focus::before {
	max-width: 100%;
}

.content {
	bottom: 0!important;
	text-align: center;
    top: 50px;
	margin: 2px auto 0 auto;
	opacity: 0;
	transition: opacity 0.5s ease-in-out 0.1s;
	-moz-transition: opacity 0.5s ease-in-out 0.1s;
	-webkit-transition: opacity 0.5s ease-in-out 0.1s;
	z-index: -1;
}

.content_selected {
	opacity: 1;
	z-index: 1;
	overflow-y: hidden;
}
/* End of Secondary Navigation */

/* Partners Styles */

#partner_h{
	text-align:left;
	margin-top:80px; 
	margin-bottom:60px
}

#gold_sponsor{
	color: rgba(244,218,74,1);
}

#silver_sponsor{
	color: rgba(194,194,194,1);
}

#bronze_sponsor{
	color: rgba(140,58,13,1);
}


#partner_h1:after{
    background: rgba(244,218,74,1);
    content: '';
    display: inline-block;
    height: 0.2em;
    width: 100%;
}


#partner_h2:after{
    background: rgba(194,194,194,1);
    content: '';
    display: inline-block;
    height: 0.2em;
    width: 100%;
}

#partner_h3:after{
    background: rgba(140,58,13,1);
    content: '';
    display: inline-block;
    height: 0.2em;
    width: 100%;
}

header.major{
	margin-top: 5%;
	text-align: left;
}


#bookmark{
	height: 70%;
margin-top:30%;
margin-left: 10%}

.bootCols{
	height:100px;
	padding: 0 !important;
	margin: 0 !important;
	box-sizing:border-box;
	height:250px;
}
  
#og-grid-3{
    padding: 45px;
}

.row{
    width:100%;
    padding-left:30px;
}

#speaker_cont{
    margin-right:60%;
    padding:10px;
}

#cont{
    width:100%;
}
/* End of Partners styles */

/* Trigger button with SVG */
.trigger {
	position: relative;
	-webkit-flex: none;
	flex: none;
	overflow: hidden;
	margin: 0 0 0 20px;
	padding: 0;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	background: none;
    top: 10vh;
}

/* Hide the text */
.trigger span {
	position: absolute;
	top: 100%;
}

.icon rect,
.icon line {
	stroke: black;
	fill: none;
	stroke-width: 2px;
}

.icon {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

/* Hide grid and show cross when opening */
.icon--cross,
.trigger--active .icon--grid {
	opacity: 0;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
}

.trigger--active .icon--cross {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

/* Main content */
.container--open .items-wrap::after {
	opacity: 0;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
	.intro__content {
		font-size: 0.85em;
	}
}

@media screen and (max-width: 590px) {
	.intro__title {
		font-size: 2em;
	}
}

/*a transição entre conteúdo aberto e fechado funciona apenas quando não se faz scroll depois abrir. 
Se se fizer scroll, a translação deveria ser de 60vh + 'distância do scroll'. */
/*não tenho a certeza que o bug seja isto porque depois basta tocar no rato para ir ao sítio */

/* tentei resolver o problema animando a propriedade top, e definindo o seu valor default como 100vh
mas o efeito foi o mesmo */

.og-grid {
    position: absolute;
	list-style: none;
	padding-bottom: 40px;
    padding-top: 40px;
	margin: 0;
	text-align: center;
    width: 100%;
    background-color: snow;
    z-index: 12;
}


.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a{
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 96%;
	margin-top: 10px;
    margin-left: 2%;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
}

.overlay {
  background: repeating-linear-gradient(0deg, rgba(0, 0, 255, 0.3), transparent);
  background-size: 100% 5px;
}

.about_table {   
    /*width:90%;*/
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 0.8em;
}

 .about_table .table-title {
    transform: rotate(-90deg);
    /*transform-origin: left, top;*/
    -ms-transform: rotate(-90deg);
   /* -ms-transform-origin:left, top;*/
    -webkit-transform: rotate(-90deg);
   /* -webkit-transform-origin:left, top;*/
    color: #ff2200;
    white-space: nowrap;
    width: 5% !important; 
}

