.intro {
	position: fixed;
	z-index: 10;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: white;
	
   /* -webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);*/
}

/*.container--open .intro {
	-webkit-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
	transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
    
}*/

/* Fullscreen image */
.intro__image {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	min-height: 120%;
	width: auto;
	height: auto;
	opacity: 0.8;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
	transition: transform 0.6s, opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro__image {
	opacity: 0;
	-webkit-transform: translate3d(0, 20%, 0);
	transform: translate3d(0, 20%, 0);
}

/* Section hidden */
.container--close {
	display: none;
}

/* Intro content */
.intro__content {
	position: absolute;
	bottom: 0;
	padding: 1.8em;
	width: 100%;
	font-size: 1.15em;
}

.intro__title {
	margin: 0 0 20px;
	font-weight: 900;
	font-size: 4em;
	font-family: "Playfair Display", Georgia, serif;
	line-height: 1;
	color: black;
}

.intro__subtitle {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	color: slategrey;
}

.intro__description {
	margin: 0 auto 0 1em;
	line-height: 1.2;
}


.navbar {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    height: 4rem;
    line-height: 4rem;
    margin: 0 auto 0 auto;
    padding: 0;
    padding-left: 3vw;
    padding-right: 3vw;  
    overflow: hidden;
	position: absolute; /*relative*/
    width: calc(100% - 60rem);
    bottom: 4rem;
    max-width: 72rem;
    left: 30rem;
    bottom: 0vh;
	z-index: 99;
}

/*.navbar ul.nav_button{
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    
    list-style: none;
    margin: 0;
    padding-left: 0;
} */

.navbar ul{
    /*width: 100%; */
    background-color: rgba(241, 232, 217, 0.5);
    position: relative;
    list-style: none; 
    text-align: center;
    
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

/*
.navbar ul.nav_button li {
    display: block;
    padding-left: 0; 

    -moz-transition: background-color .15s ease-in;
    -o-transition: background-color .15s ease-in;
    -webkit-transition: background-color .15s ease-in;
}

.navbar ul.nav_button li:hover{
    background-color:rgba(241, 232, 217, 0.9);
}

.navbar ul.nav_button li a{
    display: inline-block;
    outline: none;
    padding: 0 2rem;
    
    font-size: 0.8rem;
    color: white;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    vertical-align: baseline;
}
*/


.navbar ul.nav_icon{
    width: 70%; 
    /*text-align: center;*/
}

.navbar ul.nav_icon li {
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
}

.navbar ul.mute_btn{
    width: 30%;
}

.navbar ul.mute_btn li {
    display: inline-block;
}

.navbar ul.mute_btn:after {
  content : "";
  position: absolute;
  left:0;
  top: 10%;
  width: 1px;
  height: 80%;
  background: #555;
}

/* Trigger button with SVG */
.trigger {
	position: relative;
	-webkit-flex: none;
	flex: none;
	overflow: hidden;
	margin: 0 0 0 20px;
	padding: 0;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	background: none;
}

/* Hide the text */
.trigger span {
	position: absolute;
	top: 100%;
}

.icon rect,
.icon line {
	stroke: black;
	fill: none;
	stroke-width: 2px;
}

.icon {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

/* Hide grid and show cross when opening */
.icon--cross,
.trigger--active .icon--grid {
	opacity: 0;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
}

.trigger--active .icon--cross {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

/* Main content */
.container--open .items-wrap::after {
	opacity: 0;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
	.intro__content {
		font-size: 0.85em;
	}
}

@media screen and (max-width: 590px) {
	.intro__title {
		font-size: 2em;
	}
}

/* ============== previously in component.css */

.og-grid {
   
    position: absolute;
	list-style: none;
	padding: 40px 0;
	margin: 0 auto;
	text-align: center;
    top: 100vh;
    left: 8vw;
    right: 8vw;
	width: 84vw;
    background-color: snow;
    
    -webkit-transition: -webkit-transform 1.0s;
	transition: transform 1.0s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    
    -webkit-transform: translate3d(0, 60vh, 0) translate3d(0, 10px, 0);
	transform: translate3d(0, 60vh, 0) translate3d(0, 10px, 0);
}

.container--open .og-grid{
    -webkit-transform: translate3d(0, -60vh, 0) translate3d(0, -10px, 0);
	transform: translate3d(0, -60vh, 0) translate3d(0, -10px, 0);
    z-index: 12;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a{
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 96%;
	margin-top: 10px;
    margin-left: 2%;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }

}

/*======= Fullscreen video */
.video-background{ 
    position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    overflow: hidden;
    z-index: -1;
}

.video-background > video { 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
}

@media(min-aspect-ratio: 16/9) { 
    .video-background > video{ 
        height: 300%; 
        top: -100%; 
    }
}

@media(max-aspect-ratio: 16/9){
    .video-background > video{
        width: 300%; 
        left: -100%;
    }
}

@supports(object-fit: cover){
    .video-background > video{
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
}

.overlay {
  background: repeating-linear-gradient(0deg, rgba(0, 0, 255, 0.3), transparent);
  background-size: 100% 5px;
}

/*==== mute button */
#mute{
  cursor: pointer;
  height: 50px;
  width: 50px;
  /*position: absolute;
  top: 6vh;
  right: 4vw; */        /*Comentado para a versão só com landing page*/

  background-size: cover;
  border: none;
  background: none;
}

#mute-btn{
  height: 50px;
  width: 50px;
}

.nav_logo-svg {  
    margin-top: 8px;
	margin-bottom: 8px;
    position: absolute;
    top: 4vh; left: 3vw;
    width: 20vw;
}

.instagram, 
.facebook {
    color: #292929;
}

.instagram:hover{
    color: #ff2200;
}
.facebook:hover{
   color: #ff2200;   
}